<h1>Bloggers Show Page</h1>

<%= @blogger.name %>
<%= @blogger.bio %>
<ul><% @blogger.posts.each do |post|%>
<li><%= link_to post.title, posts_path(post.id)%></li></ul>
<%end%>


  <%= button_to "Delete Blogger", action: "delete" %>
  "<form method="delete" action="/bloggers/delete" class="button_to">
  <input value="Delete" type="submit" />
</form>"

  <%= link_to 'Index', bloggers_path%>